[main]
datadir = ./data

[database]
dbname = your-database
user = your-username
host = your-host
port = your-port

[lyon]
# URLs
station_url = https://download.data.grandlyon.com/wfs/grandlyon?service=wfs&request=GetFeature&version=2.0.0&SRSNAME=EPSG:4326&outputFormat=SHAPEZIP&typename=pvo_patrimoine_voirie.pvostationvelov
realtime_url = https://download.data.grandlyon.com/ws/rdata/jcd_jcdecaux.jcdvelov/all.json
full_availability_url = https://download.data.grandlyon.com/sos/velov?request=GetObservation&service=SOS&version=1.0.0&offering=reseau_velov&observedProperty=bikes&eventTime={}/{}&responseFormat=application/json
# db information
schema = lyon
srid = 4326
typename = pvo_patrimoine_voirie.pvostationvelov
# station geoloc variable names
feature_id = idstation
feature_name = nom
feature_address = adresse1
feature_city = commune
feature_nb_stations = nbbornette
# station availability variables names
feature_avl_id = number
feature_timestamp = last_update
feature_avl_stands = available_bike_stands
feature_avl_bikes = available_bikes
feature_status = status
